.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.back-button {
  position: absolute;
  left: 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.back-text {
  display: inline;
}

@media (max-width: 600px) {
  .back-text {
    display: none;
  }
}

@media (min-width: 1024px) {
  .back-button {
    left: 30px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  padding-left: 50px;
}
